torch==2.11.0
torch-geometric==2.7.0
numpy==2.4.3
pandas==3.0.1
pyarrow==17.0.0
scipy==1.17.1
scikit-learn==1.8.0
ray==2.54.0
optuna==4.8.0
rich==15.0.0
matplotlib==3.10.8
tensorboard==2.20.0
psutil==7.2.2
